@mixin btn-base {
    text-decoration: none;
    border-radius: 9999px;
    border: 0;
}

@mixin btn-explore {
        background-image: linear-gradient(to bottom right, $primary, $secondary);
        padding: 15px 25px 15px 25px;
        box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);
        color: white;
        @include text-m;
        @include btn-base;
}

@mixin flex ($var1, $var2, $var3) {
    display: $var1;
    justify-content: $var2;
    align-items: $var3;
}