body {
  animation: pop 2.5s ease-in-out 1;
}

.load {
  position: absolute;
  top: 40%;
  left: 42%;

  
  &__Placement {
    @include flex(flex, center, center);
    visibility: hidden;
    animation: depop 2s linear 1;
  
  
    img {
      position: relative;
      left: -45%;
      animation: cookie 2s linear 1;
      border-radius: 9999px;
  }
  }
}


.loader {
    position: relative;
    margin-left: 40px;
    width: 248px;
    height: 248px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    overflow: hidden;
  }
  .loader:after{
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
  }
  .loader:before{
    content: '';
    position: absolute;
    inset: -50px;
    margin: auto;
    background: $primary;
    animation: diamondLoader 2s linear 1;
  }

  @keyframes diamondLoader {
    0% {
      transform: translate(-248px , -248px) rotate(-45deg)
    }
    90% , 100% {
      transform: translate(0px , 0px) rotate(-45deg)
    }
  }

  @keyframes cookie {
    0%  ,10% {
        box-shadow:0 0 0 -1px rgb(242, 203, 125)
    }
    90% , 100% {
        box-shadow:0 0 0 32px rgb(0,0,0,0)
    }
  }

  @keyframes depop {
    0%  ,100% {
      visibility: visible;
    }
  }

  @keyframes pop {
    0%, 75% {
      visibility: hidden;
      opacity: 1;
    }
    75%, 80% {
      opacity: 0;
    }
    100% {
      visibility: visible;
    }
  }

  @media (max-width: 992px) {
    .load {
      position: absolute;
      top: 40%;
      left: 35%;
    }
  }

  @media (max-width: 768px) {
    .load {
      position: absolute;
      top: 40%;
      left: 25%;
    }
  }