main {
    margin: 0 60px 0 60px;


    .FFlex {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        gap: 40px;

        h1 {
            margin: 40px 40px;
        }

        .FFlex__Card {
            display: flex;
            align-items: center;
            margin-left: 40px;

            .number {
                @include text-s;
                color: white;
                position: absolute;
                border-radius: 16px 16px;
                width: 28px;
                height: 28px;
                background-color: $primary;
                margin-left: -11px;
                p {
                    text-align: center;
                }
            }
        }

        .FFlex_Element {
            width: 100%;
            margin-right: 30px;

        .FFlex__Content {   
            a {
                padding: 18px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                gap: 40px;
                border-radius: 9999px;
                background-color: #F7F7F7;
                box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.3);
            }
            a:hover {
                background-color: #F5EDFF;
            }

            i {
                font-size: 32px;
                margin-left: 30px;
            }

            a:hover i {
                color: $primary;
            }
        }
        }
    }

}