footer {
    background-color: $color-F;

    ul {
        padding: 24px 52px;
        li {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 15px 0;
            @include text-lg;
            color: white;
            list-style-type: none;
            img {
                width: 32px;
                height: 32px;
            }
        }

        a {
            img {
                margin: 30px 0;
            }
        }
    }
}