.Restau {
    background-color: #efeded;
    padding-top: 40px;

    h1 {
        margin: 40px 40px;
    }
}

.RGrid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

    .RGrid__Card {
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        padding-bottom: 25px;
        margin: 0px 40px 40px 40px;

        a {
            text-decoration: none;
            color: black;
        }
    
        img {
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        .RGrid__News {
            @include text-s;
            background-color: #99E2D0;
            color: #008766;
            position: absolute;
            left: 780px;
            margin-top: 25px;
            padding: 8px 16px 8px 16px;            
        }

        .RGrid__Content {
            @include flex(grid, flex-start, center);
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding: 20px;
            p {
                @include text-s;
                font-weight :normal;
                grid-column: span 2 / span 2;
            }       
        }
    }
}