header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;


    img {
        width: 50%;
        height: 50%;
    }

    .en-tete {
        width: 100%;
        margin-top: 20px;
        padding: 10px 0;
        background-color: $grey;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-shadow: inset  0 5px 5px -5px $dgrey;

        p {
            font-size: 18px;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }

    .explore {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: $grey;
        padding-top: 40px;


        h1 {
            @include text-lg;
            margin: 0 240px 0 240px;
        }

        p {
            font-size: 22px;
            margin: 10px 160px 0 160px;
            color: rgb(93, 93, 93);
        }

        button {
            @include btn-explore;
        }

        button:hover {
            transform: scale(1.05);
        }
    }
    
}